@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, #root, .App, .title, .form-main { height: 100%; }

.App {
    width: 100%;
}

.title{
    width: 50%;
    float: left;
    background-color: #ffffff;
}

h1{
    color: #0674dc !important;
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
    width:50%;
    text-align: center;
    margin-left: 40px;
    font-size:4.5em;
}

.form-main{
    width: 50%;
    background-color: #bdc4ce;
    padding: 25px 40px;
    overflow: auto;
}

h3{
    color: black;
    font-weight: 300;
    margin-bottom: 50px;
    text-decoration: none;
    display: inline;
    font-size: 1.7em;
    margin: 15px 10px;
    padding-bottom: 5px;
}

.form-ip{
    margin-bottom:100px;
    margin-top:50px;
}

.form-group{
    font-weight: 300;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: black;
}

.form-control{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-left:15px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.button {
    display: block;
    background-color: #0674dc !important;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 28px;
    font-size: .9em;
    font-weight: 500;
    cursor: pointer;
    width: 100%;

}
.forgot-password a {
    color: #0674dc !important;
}

@media screen and (max-width:800px) {
    .title, .form-main {
        height: auto;
        width:100%;
    }
}